<div class="tab-content">
  <div aria-labelledby="nav-Deligation" class="h-100">
    <div class="card border-0 h-100">
      <div class="card-body m-1 card-height">
        <h5>{{"Profile"|translate}}</h5>
        <div class="mt-1">
          <div class="row">
            <!-- Upload pic -->
            <div class="justify-content-center d-flex align-items-center">
              <div class="d-inline-block position-relative">
                <rds-avatar [withProfilePic]="true" [firstName]="'Test'" [subTitle]="ProfileData.userName"
                  [profilePic]="profileUrl" [roundedPills]="true" [verticallyAlligned]="true" [roundedAvatar]="true"
                  [profileContentAlign]="false" [width]="'130'" [height]="'120'"></rds-avatar>
                <div class="text-center" *ngIf="ProfileData">
                  <input type="file" (change)="onSelectFile($event)" #file (input)="getValue($event)" name="myfile"
                    style="display: none" />
                  <rds-button class="btn btn-icon upload-icon position-absolute top-50 btn-md rounded-circle"
                    colorVariant="" size="medium" [isFabIcon]="true" tooltipTitle="" tooltipPlacement="right"
                    iconHeight="18px" iconWidth="18px" [isIconFill]="false" buttonType="iconOnly" icon="pencil"
                    (click)="file.click()"></rds-button>
                </div>
              </div>
            </div>
            <!-- <rds-button (onClick)="savePhoto()">Save Photo</rds-button> -->
            <form #accountForm="ngForm">
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [value]="ProfileData.name" [label]="translate.instant('Name')"
                    [labelPosition]="'top'" [inputType]="'text'" name="name" #name="ngModel" [isRequired]=true required
                    [(ngModel)]="ProfileData.name" [placeholder]="translate.instant('Name')" [disabled]="false"
                    ngDefaultControl>
                  </rds-input>
                  <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                    <span class="text-danger" *ngIf="name.errors.required">
                      {{"Name is required"|translate}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [value]="ProfileData.surname" [label]="translate.instant('Surname')"
                    [labelPosition]="'top'" [inputType]="'text'" name="surname" #surname="ngModel" [isRequired]=true
                    required [(ngModel)]="ProfileData.surname" [placeholder]="translate.instant('Surname')"
                    [disabled]="false" ngDefaultControl>
                  </rds-input>
                  <div class="form-control-feedback" *ngIf="surname.errors && (surname.dirty || surname.touched)">
                    <span class="text-danger" *ngIf="surname.errors.required">
                      {{"Surname is required"|translate}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [value]="ProfileData.email" [label]="translate.instant('Email')"
                    [labelPosition]="'top'" [inputType]="'email'" [(ngModel)]="ProfileData.email"
                    (keyup)="emailValidator(ProfileData.email)" [placeholder]="translate.instant('Email')"
                    ngDefaultControl #email="ngModel" [isRequired]=true required name="email" [disabled]="false">
                  </rds-input>
                  <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                    <small class="text-danger" *ngIf="email.errors.required">
                      {{"Entered invalid Email"|translate}}
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [label]="translate.instant('User name')" [value]="ProfileData.userName"
                    [inputType]="'text'" [placeholder]="translate.instant('User Name')" name="userName"
                    #user_Name="ngModel" [isRequired]=true required [disabled]="false"
                    [(ngModel)]="ProfileData.userName" ngDefaultControl>
                  </rds-input>
                  <div class="form-control-feedback" *ngIf="user_Name.errors && (user_Name.dirty || user_Name.touched)">
                    <small class="text-danger" *ngIf="user_Name.errors.required">
                      {{"User Name is Required"|translate}}
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [label]="translate.instant('Phone number')" [value]="ProfileData.phoneNumber"
                    [inputType]="'text'" [placeholder]="translate.instant('Phone number')" name="phoneNumber"
                    #phoneNumber="ngModel" [isRequired]=true required [disabled]="false"
                    [(ngModel)]="ProfileData.phoneNumber" ngDefaultControl>
                  </rds-input>
                  <div class="form-control-feedback"
                    *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)">
                    <small class="text-danger" *ngIf="phoneNumber.errors.required">
                      {{"Phone number is Required"|translate}}
                    </small>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="mb-3 mt-3">
            <h5>{{"Change Password"|translate}}</h5>
          </div>
          <form #changePasswordForm="ngForm">
            <div class="row">
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [disabled]="false" [isRequired]=true [iconCursor]="'pointer'" [icon]="'eye'"
                    [iconOpacity]="'0.4'" [iconHeight]="'18px'" [iconWidth]="'18px'" (ngModelChange)="isIncorrect = false"
                    [label]="translate.instant('Current Password')" [inputType]="'password'" required [pattern]="passwordPattern"
                    [placeholder]="translate.instant('Current Password')" [(ngModel)]="ProfileData.currentPassword"
                    #currentPassword="ngModel" ngDefaultControl name="currentPassword" >
                  </rds-input>
                  <div class="form-control-feedback"
                    *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)">
                    <small class="text-danger" *ngIf="currentPassword.errors.required">
                      {{"Current Password is Required"|translate}}
                    </small>
                    <small class="text-danger" *ngIf="currentPassword.errors.pattern">
                      {{"Please include length more than 6, 1 number, 1 special character, 1 lowercase & 1 uppercase letter"|translate}}
                    </small>
                  </div>
                  <div class="form-control-feedback" *ngIf="isIncorrect">
                    <small class="text-danger">
                      {{ 'Incorrect Password' | translate}}
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [inputType]="'password'" [isRequired]=true [iconCursor]="'pointer'"
                    [icon]="'eye'" [iconOpacity]="'0.4'" [iconHeight]="'18px'" [iconWidth]="'18px'"
                    [label]="translate.instant('New Password')" [placeholder]="translate.instant('New Password')" [pattern]="passwordPattern"
                    [(ngModel)]="ProfileData.newPassword" #newPassword="ngModel" ngDefaultControl name="newPassword"
                    (keyup)='confirmPassword()' required>
                  </rds-input>
                  <div class="form-control-feedback"
                    *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                    <small class="text-danger" *ngIf="newPassword.errors.required">
                      {{"New Password is Required"|translate}}
                    </small>
                    <small class="text-danger" *ngIf="newPassword.errors.pattern">
                      {{"Please include length more than 6, 1 number, 1 special character, 1 lowercase & 1 uppercase letter"|translate}}
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [inputType]="'password'" [isRequired]=true [iconCursor]="'pointer'"
                    [icon]="'eye'" [iconOpacity]="'0.4'" [iconHeight]="'18px'" [iconWidth]="'18px'"
                    [label]="translate.instant('Confirm new Password')" required
                    [placeholder]="translate.instant('Confirm Password')" [(ngModel)]="ProfileData.confirmNewPassword"
                    #confirmNewPassword="ngModel" ngDefaultControl name="confirmNewPassword"
                    (keyup)='confirmPassword()'>
                  </rds-input>
                  <div class="form-control-feedback"
                    *ngIf="confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched)">
                    <small class="text-danger" *ngIf="confirmNewPassword.errors.required">
                      {{"Confirm Password is required"|translate}}
                    </small>
                  </div>
                  <small class="text-danger" *ngIf="isPasswordMismatch">{{"Password mismatch found"|translate}}</small>
                </div>
              </div>
            </div>
          </form>
          <div class="col-md-12 sm-p-0">
            <div class="form-group mb-3">
              <rds-checkbox [disabled]="false" [label]="translate.instant('Two factor enabled')"
                [checked]="ProfileData.twoFactorEnabled" [(ngModel)]="ProfileData.twoFactorEnabled"
                name="twoFactorEnabled" [withLabel]="true" [switch]="false" [id]="'twoFactorEnabled'"></rds-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="position-fixed bg-light action-buttons py-3 bottom-0 px-3 mx-1">
  <div class="row">
    <div class="col-sm-12">
      <rds-button [submit]="false" [block]="false" [size]="'small'" [isDisabled]="false" [isOutline]="true"
        [colorVariant]="'primary'" [isFabIcon]="false" (click)="onProfileClose.emit()" [label]="translate.instant('Cancel')">
      </rds-button>
      <rds-button [label]="translate.instant('Save')" type="button" [showLoadingSpinner]="buttonSpinner"
        [size]="'small'" class="px-2" [colorVariant]="'primary'" [isDisabled]="disableSave()"
        (click)="saveProfile(accountForm, changePasswordForm, ProfileData.twoFactorEnabled)">
      </rds-button>
    </div>
  </div>
</div>