<div>
    <div class="row">
        <div class="col-md-12 text-end pb-3">
            <rds-button [id]="'yes'" [size]="'small'" [tooltipPlacement]="'top'" [colorVariant]="'primary'"
                [label]="'NEW CLAIM TYPES'" (onClick)="openCanvas()" [icon]="'plus'" [iconWidth]="'12px'" [iconHeight]="'12px'"
                [attr.data-bs-target]="'#addnewclaimtype'" [attr.aria-controls]="'addnewclaimtype'">
            </rds-button>
        </div>

        <div class="row mx-3 mt-2">
            <rds-data-table 
                [tableData]="ClaimtypeTableData" 
                [inlineEdit]="false" 
                [pagination]="true"
                [recordsPerPage]="10" 
                [actions]="actions" 
                (onActionSelection)="onActionSelection($event)"
                noDataTitle="Currently you do not have claim type" 
                [tableHeaders]="ClaimtypeTableHeader">
            </rds-data-table>
            <!-- <mfe-loader [config]="rdsclaimtypeTableMfeConfig"></mfe-loader> -->
        </div>
    </div>
    <rds-offcanvas [canvasTitle]="'NEW CLAIM TYPE'" [offId]="'addnewclaimtype'" [placement]="'end'"
        [offcanvaswidth]="600" (onClose)="close()">
        <div class="px-2">
            <rds-comp-new-claim-type [valueTypeItems]="valueTypeItems" (onClaimTypeSave)="onClaimTypeSave($event)"></rds-comp-new-claim-type>
        </div>
        <!-- <mfe-loader [config]="rdsNewclaimtypeMfeConfig"></mfe-loader> -->
    </rds-offcanvas>
</div>