<div class="container-fluid">
  <div class="w-100 border" *ngFor="let item of backgroundImage">
    <rds-comp-background-image
      [imageUrl]="item.imageUrl"
      [title]="item.title"
      [subtitle]="item.subtitle"
      [btnLabel]="item.btnLabel"
      [backgroundRepeat]="item.backgroundRepeat"
      [backgroundSize]="item.backgroundSize"
    ></rds-comp-background-image>
    <div class="text-center section">
      <div>
        <rds-label [label]="section2Title" class="fs-2"></rds-label>
      </div>
        <rds-label [label]="section2Description" class="fs-5"></rds-label>
    </div>
    <div class="container mt-4 mb-5">
      <rds-comp-product-list
      [productListItems]="productListItems"
      [role]="'ImageWithInfo'">        
      </rds-comp-product-list>
    </div>
    <!-- <div class="section">
      <rds-comp-background-image
      [imageUrl]="item.imageUrl1"
      [title]="item.title1"
      [subtitle]="item.subtitle1"
      [btnLabel]="item.btnLabel"
      [backgroundRepeat]="item.backgroundRepeat1"
      [backgroundSize]="item.backgroundSize1"></rds-comp-background-image>
    </div> -->
    <!-- <div class="section container">
      <rds-comp-background-image
      [imageUrl]="item.imageUrl2"
      [title]="item.title2"
      [subtitle]="item.subtitle2"
      [btnLabel]="item.btnLabel2"
      [backgroundRepeat]="item.backgroundRepeat2"
      [backgroundSize]="item.backgroundSize2"></rds-comp-background-image>
    </div> -->
  </div>
  <div class="section mb-4 border" *ngFor="let item of backgroundImage1">
      <rds-comp-background-image
      [imageUrl]="item.imageUrl2"
      [title]="item.title2"
      [subtitle]="item.subtitle2"
      [btnLabel]="item.btnLabel2"
      [backgroundRepeat]="item.backgroundRepeat2"
      [backgroundSize]="item.backgroundSize2"></rds-comp-background-image>
    </div>
</div>
