<div class="row">
  <div class="col-md-12 ">
    <div class="card p-2 h-100 border-0  rounded-0 card-full-stretch mt-3">
    <rds-data-table [tableData]="templateList" [tableHeaders]="tableHeadersForTextTemplate" [recordsPerPage]="5"
      [pagination]="true" [actions]="actions" [inlineEdit]="false" [noDataTitle]="'Currently no text template'"
      (onActionSelection)="onActionSelection($event)"></rds-data-table>
  </div>
</div>
</div>
<ng-container *ngIf="viewCanvas">
  <rds-offcanvas [canvasTitle]="canvasTitle" [offcanvaswidth]="500" [offId]="offcanvasId" [placement]="'end'"
    (onClose)="close()">
    <div class="section">
      <div class="row m-1" *ngIf="selectedData">
          <div class="form-group mb-3">
            <rds-label [label]="translate.instant('Name')"></rds-label> :
            {{ selectedData.templateName }}
          </div>
          <div class="form-group">
            <rds-textarea #description="ngModel" [placeholderText]="translate.instant('Enter Content Here')" [label]="translate.instant('Template Content')"
              [(ngModel)]="selectedData.content" name="content" [rows]="'8'" required>
            </rds-textarea>
          </div>
      </div>
    </div>
    <div class="footer-buttons d-flex py-4">
      <div class="me-auto">
          <rds-button class="p-2" [label]="'Cancel'" [isOutline]="true" [size]="'small'" [colorVariant]="'primary'" (click)="close()"
            data-bs-dismiss="offcanvas" aria-label="Close">
          </rds-button>
          <rds-button [label]="'Save'" [size]="'small'" [colorVariant]="'primary'" (click)="save()">
          </rds-button>
      </div>
      <div class="text-primary">
        <rds-label [label]="translate.instant('Restore To Default')" (click)="restore($event)"></rds-label>
      </div>
    </div>
  </rds-offcanvas>
</ng-container>