    <ng-container *ngIf="finalFeatureData.length > 0">
      <ng-container *ngFor="let item of finalFeatureData; index as i">
          <div class="col-md-12 mt-2" *ngIf="item.features.length > 0">
              <div class="row">
                  <div class="my-2 border-bottom text-muted pb-2 px-0 mx-3">{{item.displayName}}</div>
                  <div class="row">
                    <div class="col-md-12 form-group mt-3 px-3" *ngFor="let child of item.features; index as c">
                      <div *ngIf="child.name == 'Identity.TwoFactor'">
                        <rds-label [label]="child.displayName"></rds-label>
                        <rds-dropdownlist  
                          [value]="child.value" [(ngModel)]="child.value" (onSelect)="getSelectedValue($event)" [listItems]="TwoFactorList"
                        ></rds-dropdownlist>
                      </div>
                      <div *ngIf="child.name == 'Identity.MaxUserCount'">
                        <rds-label [label]="child.displayName"></rds-label>
                        <rds-counter [counterValue]="0" label="" name="MaxCount" [width]="124" colorVariant="primary" [(ngModel)]="child.value" #MaxCount="ngModel"></rds-counter>
                      </div>
                      <div  *ngIf="child.name !== 'Identity.TwoFactor' && child.name !== 'Identity.MaxUserCount'">
                          <rds-checkbox [disabled]="false" [label]="child.displayName"  (change)="onSelectChild()" [(ngModel)]="child.value"  [withLabel]="true" [checked]="child.value"
                            [id]="child.name" >
                          </rds-checkbox>
                      </div>     
                   </div>
                  </div>   
              </div>
          </div>
      </ng-container>
  </ng-container>