<div class="row mt-2">
    <div class="col-md-12 mb-3" *ngIf="showType">
        <div class="mb-2">
            <rds-label [label]="'Type'"></rds-label>
        </div>
        <rds-dropdownlist class="mt-2" [placeholder]="'Select Type'" [size]="'large'" [listItems]="typeData"
            (onSelect)="selectedOption($event)">
        </rds-dropdownlist>
    </div>
    <div class="col-md-12" *ngIf="showSelectAllCheckbox">
        <rds-checkbox [disabled]="false" [label]="translate.instant('Select All')" (change)="selectAllItems($event)"
            [(ngModel)]="selectAll" [state]="selectAllIntermediate" [checked]="selectAll" name="check-box"
            [withLabel]="true" [id]="'selectAll'">
        </rds-checkbox>
    </div>
    <ng-container *ngIf="finalResourceData.length > 0">
        <ng-container *ngFor="let item of finalResourceData; index as i">
            <div class="col-md-12 mt-2" *ngIf="item.resourcesData.length > 0">
                <div class="row">
                    <div class="my-2 p-0 mx-2 pb-2 border-bottom">{{item.letterRange}}</div>
                    <rds-checkbox [disabled]="false" [label]="translate.instant('Select all')"
                        [state]="item.state" (change)="selectAllSectionItems($event, i)"
                        [(ngModel)]="item.isAllRangeSelected" [checked]="item.isAllRangeSelected"
                        [name]="item.letterRange" [withLabel]="true" [id]="item.id">
                    </rds-checkbox>
                    <div class="col-md-4 my-2" *ngFor="let child of item.resourcesData; index as c">
                        <rds-checkbox [disabled]="false" [label]="translate.instant(child.displayName)"
                            (change)="onSelectChild()" [(ngModel)]="child.left" [name]="child.name" [withLabel]="true"
                            [id]="child.id">
                        </rds-checkbox>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>