@media only screen and (max-width: 600px){
    .sm-block{
        display: block !important;
    }
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  section{
    background-color:black;
    color:white;
  }
  
   
  
  @media(max-width: 700px){
    .grid {
      grid-template-columns: 1fr;
    }
  }