/*.tab-content {
  min-height: 74vh;
}

.upload-img {
  cursor: pointer;
}
*/
@media (max-width: 767px){
  .sm-p{
    padding: 0px;
  }
}
// .footer-buttons{
//   position: absolute;
//   left: 0;
//   bottom: -7px;
//   width: 100%;
//   padding: 2.5%;
//   z-index: 1000;
// }